Source: grub-btrfsd
Section: admin
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compact (= 13), dh-make, git, dh-gitchangelog, pandoc
Standards-Version: 4.6.2
Homepage: https://github.com/MLSTidbits/grub-btrfsd
Vcs-Browser: https://github.com/MLSTidbits/grub-btrfsd
Vcs-Git: https://github.com/MLSTidbits/grub-btrfsd.git

Package: grub-btrfsd
Architecture: any
Multi-Arch: foreign
Depends:
 btrfs-progs, grub-common, grub2-common, inotify-tools
Suggests: snapper, snapper-gui, btrfsnapd
Description: Add BTRFS snapshots to Grub boot menu -
 This package provides a daemon that monitors BTRFS snapshots and adds them to
 the Grub boot menu. Compatible with both Timeshift, Snapper, btrfsnapd.
 .
  Take advantage of BTRFS snapshots capabilities.
