#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

# what is being installed
app_name = grub-btrfsd

app = $(CURDIR)/$(app_name)
app_service = $(CURDIR)/$(app_name).service
app_completion = $(CURDIR)/completion/$(app_name)

copyright = $(CURDIR)/COPYING
readme = $(CURDIR)/README.md
coc = $(CURDIR)/CODE_OF_CONDUCT.md

version = $(CURDIR)/docs/version

app_conf = $(CURDIR)/grub_btrfsd
grub_d_conf = $(CURDIR)/41_$(app_name)

# The manpage is written in Markdown format and requires pandoc to convert it.
app_man = $(CURDIR)/man

# The directories where the files will be installed.
conf_dir = $(CURDIR)/debian/$(app_name)/etc/default
grub_d_dir = $(CURDIR)/debian/$(app_name)/etc/grub.d
docs = $(CURDIR)/debian/$(app_name)/usr/share/doc/$(app_name)
app_bin = $(CURDIR)/debian/$(app_name)/usr/bin
bash_completion = $(CURDIR)/debian/$(app_name)/usr/share/bash-completion/completions
man = $(CURDIR)/debian/$(app_name)/usr/share/man/man1
systemd_dir = $(CURDIR)/debian/$(app_name)/usr/lib/systemd/system


build: build-stamp

build-stamp:
	dh_auto_build
	touch build-stamp

clean:
	dh_auto_clean
	rm -f build-stamp

directories:

install: build clean $(app) $(app_conf) $(app_service) $(app_completion) $(copyright) \
	$(readme) $(coc) $(version) $(app_man) ${grub_d_conf}

	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(conf_dir) $(grub_d_dir) $(docs) \
		$(app_bin) $(bash_completion) $(man) $(systemd_dir) \


	# Need to convert the Markdown manpage with pandoc.
	@pandoc man/$(app_name).1.md -s -t man -o man/$(app_name).1
	@pandoc man/$(app_name)-conf.1.md -s -t man -o man/$(app_name)-conf.1

	gzip -vf9 man/$(app_name).1
	gzip -vf9 man/$(app_name)-conf.1

	install -m 644 man/*.1.gz $(man)/

	install -m 755 -D $(app) $(app_bin)/$(app_name)

	install -m 644 $(app_conf) $(conf_dir)/
	install -m 755 $(grub_d_conf) $(grub_d_dir)/

	install -m 644 $(app_service) $(systemd_dir)/
	install -m 644 $(copyright) $(docs)/
	install -m 644 $(readme) $(docs)/
	install -m 644 $(coc) $(docs)/
	install -m 644 $(version) $(docs)/
	install -m 644 $(app_completion) $(bash_completion)/

binary-indep: install
	dh_installdocs
	dh_installchangelogs $(changelog)
	dh_installman
	dh_installmime
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
